.quiz-progress {
    display: table;
    table-layout: fixed;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 0;
    width: 100%;
    height: 16px;
    margin-top: 8px;
}

.quiz-progress .cell {
    display: table-cell;
    border-left: 1px solid #ddd;
    margin: 0;
    transition: background-color .3s;
    background-color: #fff;
}

.quiz-progress .cell:first-child {
    border-left: none;
}

.quiz-progress .cell.placed ~ .cell.placed {
    border-left-color: #fff;
}

.quiz-progress .cell.placed {
    background-color: green;
}

.quiz-progress .cell.placed:hover {
    background-color: #337ab7;
}