.quiz-items {
    border-bottom: 1px solid #CCC;
    margin-bottom: 8px;
}

.or-col {
    width: 60px; 
    max-width: 60px;
    text-align: center;
    font-size: 28px;
    padding: 8;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;
    display: inline-block;
}

.quiz-btn {
    max-width: 340px;
    min-width: 340px;
    width: 340px;

    margin: 0 4px;
}

.quiz-btn h2 {
    margin-top: 10px;
}

.quiz-btn p {
    white-space: normal;
    height: 72px;
    text-align: left;
    max-width: 330px;
    font-size: 16px;
}

.quiz-btn .kdb ~ p {
    max-width: 300px;
}

.left-col {
    text-align: right;
}

.right-col {
    text-align: left;
}

.left-col, .mid-col, .right-col {
    margin-top: 8px;
    display: inline-block;
}

.three-cols, .two-cols {
    text-align: center;
}

@media(max-width: 1100px) {
    .three-cols .left-col, .three-cols .mid-col, .three-cols .right-col {
        display: block;
        text-align: center;
    }
}

@media(max-width: 820px) {
    .two-cols .left-col, .two-cols .right-col {
        display: block;
        text-align: center;
    }

    .or-col {
        width: 100%;
        max-width: 100%;
        display: block;
    }
}

.quiz-btn .kbd {
    font-size: 16px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.quiz-btn .kbd ~ * {
    margin-left: 40px;
}

@keyframes fadeBG {
    from {
        background-color: rgb(133, 248, 210);
    }

    to {
        background-color: white;
    }
}

.fadeBg {
    animation-name: fadeBG;
    animation-duration: 1s;
}

.quiz-btn {
    position: relative;
    max-width: 340px;
}